.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .cart-item img {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .cart-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item-actions button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cart-item-actions button:hover {
    background-color: #d32f2f;
  }
  
  .cart-total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
  }
  .checkout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    max-width: 250px; /* Limits the button width to 250px */
    margin: 20px auto; /* Centers the button horizontally with margin */
    transition: background-color 0.3s ease;
    display: block; /* Ensures the button is a block element (take full width) */
    text-align: center; /* Center the text inside the button */
  }
  
  .checkout-button:hover {
    background-color: #45a049;
  }
  
  .checkout-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }